<!-- @include intro -->

<div style="width:47%;float:left;margin:20px;background:grey">
  <div data-scope="tweet" class="margin-t">
    <img data-prop="avatar" src="http://placehold.it/50x50" class="float-l margin-r">

    <a data-prop="show" href="/show" class="float-r">
      View Details
    </a>

    <h4 data-prop="user">
      User's Name
    </h4>

    <p data-prop="text">
      Tweet text goes here
    </p>
  </div>
</div>

<div style="width:47%;float:right;margin:20px;background:grey">
  <div data-scope="tweet2" class="margin-t">
    <img data-prop="avatar" src="http://placehold.it/50x50" class="float-l margin-r">

    <a data-prop="show" href="/show" class="float-r">
      View Details
    </a>

    <h4 data-prop="user">
      User's Name
    </h4>

    <p data-prop="text">
      Tweet text goes here
    </p>
  </div>
</div>